@mixin margem-central($width) {
  margin: 0 auto;
  width: $width;//por conta do auto
}

@mixin ff-fs-cl($f-family, $f-size, $f-color){
  font-family: $f-family;
  font-size: $f-size;
  color: $f-color;
}